.git/*
env/
venv/
/vscode
.vscode
.venv
.venv/

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover 

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/
posts/media/
media/
sent_emails/

db.sqlite3
